# 7 Within Group Analysis

Before we begin this lecture, let us open the dataset from last time.

In [1]:
clear *
cd "."

import delimited using "fake_data.csv", clear

C:\Users\paulc\Dropbox\Projects\Gitlab\econometrics\econ490-stata

(9 vars, 2,861,772 obs)

When we're working on a particular project, it is important to know how to create variables that are computed within a group. For instance, we may be interested in the average wage of the individual workers across all different years, or enumerate the different observations within an individual.

Stata provides functionality to easily compute such statistics. The key to this analysis is the pre-command `by`, and the only requisite to using this is to ensure data is sorted the correct way.

In [2]:
%browse

     +----------------------------------------------------------------------+
  1. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        1 | 1999 |   M |     1944 |  55 |     1997 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               39975.01                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  2. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        1 | 2001 |   M |     1944 |  57 |     1997 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               278378.1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  3. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2001 |   M |     1947 |  54 |     2001 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                18682.6                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  4. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2002 |   M |     1947 |  55 |     2001 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               293336.4                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  5. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2003 |   M |     1947 |  56 |     2001 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               111797.3                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  6. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        3 | 2005 |   M |     1951 |  54 |     2005 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               88351.67                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  7. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        3 | 2010 |   M |     1951 |  59 |     2005 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               46229.57                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  8. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        4 | 1997 |   M |     1952 |  45 |     1997 |      5 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               24911.03                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  9. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        4 | 2001 |   M |     1952 |  49 |     1997 |      5 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               9908.362                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 10. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        5 | 2009 |   M |     1954 |  55 |     1998 |      2 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               137207.3                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 11. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        5 | 2011 |   M |     1954 |  57 |     1998 |      2 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                5227.69                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 12. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 1995 |   M |     1954 |  41 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               53620.36                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 13. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 1999 |   M |     1954 |  45 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               28902.34                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 14. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 2000 |   M |     1954 |  46 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               58023.73                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 15. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 2003 |   M |     1954 |  49 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               132451.8                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 16. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        7 | 2007 |   M |     1958 |  49 |     2006 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               208644.8                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 17. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        7 | 2009 |   M |     1958 |  51 |     2006 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               330875.2                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 18. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        8 | 2007 |   M |     1959 |  48 |     1999 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               83872.56                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 19. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        8 | 2010 |   M |     1959 |  51 |     1999 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               29126.71                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 20. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 1997 |   M |     1962 |  35 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                 296822                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 21. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 2006 |   M |     1962 |  44 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               165501.4                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 22. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 2008 |   M |     1962 |  46 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               399610.9                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 23. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 1999 |   M |     1965 |  34 |     1995 |      3 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                23455.5                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 24. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 2001 |   M |     1965 |  36 |     1995 |      3 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               28081.39                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 25. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 2002 |   M |     1965 |  37 |     1995 |      3 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                16827.1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 26. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       11 | 1996 |   M |     1941 |  55 |     1995 |      3 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               20401.53                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 27. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       11 | 1997 |   M |     1941 |  56 |     1995 |      3 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               38037.63                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 28. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2000 |   M |     1942 |  58 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               25679.33                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 29. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2001 |   M |     1942 |  59 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               13154.44                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 30. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2002 |   M |     1942 |  60 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               24012.12                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 31. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       13 | 1996 |   M |     1946 |  50 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               58104.31                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 32. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       13 | 1997 |   M |     1946 |  51 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               37268.06                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 33. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 1995 |   M |     1951 |  44 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               63075.74                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 34. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 2002 |   M |     1951 |  51 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               41008.89                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 35. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 2003 |   M |     1951 |  52 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               29224.72                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 36. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       15 | 2006 |   M |     1952 |  54 |     2005 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               101288.9                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 37. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       15 | 2011 |   M |     1952 |  59 |     2005 |      2 |       0 |

## 7.1 Generating Variables using Standard Generate

The command `generate` can be extended with the pre-command `by` as follows:

In [3]:
cap drop var_one 
by year: gen var_one = 1

not sorted

r(5);
r(5);

Wait... what is this message? It says that data is not sorted. Stata expects us to sort the data such that all observations corresponding to the same worker are next to each other. We can use the `sort` command as follows.

In [4]:
sort year

In [6]:
%browse

     +----------------------------------------------------------------------+
  1. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   378258 | 1995 |   M |     1972 |  23 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               52968.54                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  2. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    92298 | 1995 |   F |     1963 |  32 |     1995 |      4 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               10119.29                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  3. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    17301 | 1995 |   M |     1934 |  61 |     1995 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                49260.6                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  4. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    29021 | 1995 |   M |     1949 |  46 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               352930.7                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  5. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   269652 | 1995 |   M |     1950 |  45 |     1995 |      3 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               238648.5                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  6. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   171356 | 1995 |   M |     1968 |  27 |     1995 |      4 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               7242.213                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  7. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   108381 | 1995 |   F |     1951 |  44 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               11913.33                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  8. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |     9393 | 1995 |   F |     1965 |  30 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               5909.894                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  9. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   443061 | 1995 |   M |     1973 |  22 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               36347.46                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 10. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   215870 | 1995 |   F |     1962 |  33 |     1995 |      3 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                7516.67                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 11. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    19416 | 1995 |   M |     1954 |  41 |     1995 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               22579.26                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 12. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   226180 | 1995 |   F |     1971 |  24 |     1995 |      3 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               3620.219                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 13. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   203947 | 1995 |   M |     1959 |  36 |     1995 |      5 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               6051.753                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 14. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   195324 | 1995 |   M |     1969 |  26 |     1995 |      4 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               92533.93                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 15. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    45529 | 1995 |   M |     1965 |  30 |     1995 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               49827.99                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 16. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |     5027 | 1995 |   M |     1961 |  34 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               14604.17                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 17. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    96897 | 1995 |   M |     1950 |  45 |     1995 |      4 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               71655.16                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 18. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   227428 | 1995 |   M |     1955 |  40 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               75690.05                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 19. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   196051 | 1995 |   M |     1961 |  34 |     1995 |      5 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                8802.69                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 20. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    87949 | 1995 |   M |     1949 |  46 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               154851.1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 21. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   269403 | 1995 |   M |     1973 |  22 |     1995 |      3 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               159151.1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 22. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   299377 | 1995 |   M |     1965 |  30 |     1995 |      5 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               107660.4                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 23. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    18057 | 1995 |   F |     1952 |  43 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               22871.41                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 24. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   381868 | 1995 |   F |     1974 |  21 |     1995 |      4 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               38455.39                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 25. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   114022 | 1995 |   M |     1938 |  57 |     1995 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                8172.83                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 26. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   229622 | 1995 |   M |     1962 |  33 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               209413.5                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 27. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    59625 | 1995 |   M |     1959 |  36 |     1995 |      1 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               108516.2                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 28. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   147613 | 1995 |   M |     1966 |  29 |     1995 |      1 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               8024.446                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 29. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    36608 | 1995 |   M |     1943 |  52 |     1995 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               31869.41                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 30. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    44830 | 1995 |   M |     1952 |  43 |     1995 |      2 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               45363.82                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 31. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    12987 | 1995 |   M |     1945 |  50 |     1995 |      1 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               5858.557                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 32. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    57938 | 1995 |   F |     1968 |  27 |     1995 |      2 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               60101.86                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 33. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   138917 | 1995 |   M |     1950 |  45 |     1995 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               110654.1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 34. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   146758 | 1995 |   M |     1956 |  39 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                 170580                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 35. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   402156 | 1995 |   F |     1973 |  22 |     1995 |      2 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               6396.279                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 36. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   132361 | 1995 |   M |     1944 |  51 |     1995 |      3 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               106686.6                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 37. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   416921 | 1995 |   M |     1959 |  36 |     1995 |      2 |       0 |

In [7]:
cap drop var_one 
by year: gen var_one = 1

Now the code works! We can run the whole thing in one step by writing `bysort` instead of `by`.

In [8]:
sort workerid year //Let's sort the data back as it was originally to revert back

In [9]:
cap drop var_one 
bysort year: gen var_one = 1

Awesome. Although the variable we have created is not interesting by any means, it takes the value of 1 everywhere. We didn't even need to work within groups to do something like this, could've just written `gen var_one=1` and call it a day!

You may not be aware but Stata records the observation number as a hidden variable (formally, a scalar) called `_n` and the total number of observations as `_N`.

In [10]:
cap drop obs_number 
gen obs_number = _n 

cap drop tot_obs
gen tot_obs = _N

In [11]:
%browse

     +----------------------------------------------------------------------+
  1. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   247834 | 1995 |   M |     1949 |  46 |     1995 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    10224.97     |          1     |           1     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  2. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    61219 | 1995 |   M |     1963 |  32 |     1995 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    20904.56     |          1     |           2     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  3. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    33731 | 1995 |   F |     1964 |  31 |     1995 |      3 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    61507.25     |          1     |           3     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  4. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   861979 | 1995 |   M |     1975 |  20 |     1995 |      1 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    37619.32     |          1     |           4     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  5. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   211635 | 1995 |   M |     1955 |  40 |     1995 |      3 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |      130355     |          1     |           5     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  6. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   292584 | 1995 |   M |     1959 |  36 |     1995 |      3 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    82980.04     |          1     |           6     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  7. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   100972 | 1995 |   M |     1942 |  53 |     1995 |      4 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    12670.24     |          1     |           7     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  8. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    93840 | 1995 |   M |     1958 |  37 |     1995 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |     40754.7     |          1     |           8     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  9. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   306013 | 1995 |   F |     1951 |  44 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    38078.62     |          1     |           9     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 10. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   191984 | 1995 |   F |     1969 |  26 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    11864.55     |          1     |          10     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 11. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    47219 | 1995 |   M |     1957 |  38 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    167551.5     |          1     |          11     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 12. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   672038 | 1995 |   M |     1971 |  24 |     1995 |      5 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    20702.33     |          1     |          12     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 13. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   320826 | 1995 |   M |     1958 |  37 |     1995 |      3 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    46328.65     |          1     |          13     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 14. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   713513 | 1995 |   F |     1946 |  49 |     1995 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    21554.09     |          1     |          14     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 15. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   312071 | 1995 |   F |     1964 |  31 |     1995 |      2 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    15287.54     |          1     |          15     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 16. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   374103 | 1995 |   F |     1974 |  21 |     1995 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    53976.52     |          1     |          16     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 17. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   360558 | 1995 |   M |     1974 |  21 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    12014.95     |          1     |          17     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 18. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   188046 | 1995 |   M |     1956 |  39 |     1995 |      5 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    10969.17     |          1     |          18     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 19. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   340434 | 1995 |   M |     1970 |  25 |     1995 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    67503.87     |          1     |          19     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 20. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   519363 | 1995 |   F |     1973 |  22 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    145001.9     |          1     |          20     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 21. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   443698 | 1995 |   F |     1950 |  45 |     1995 |      2 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    25146.12     |          1     |          21     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 22. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   409235 | 1995 |   F |     1976 |  19 |     1995 |      4 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    821.1888     |          1     |          22     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 23. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    29752 | 1995 |   F |     1964 |  31 |     1995 |      4 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    3422.046     |          1     |          23     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 24. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   268281 | 1995 |   F |     1971 |  24 |     1995 |      3 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    6775.099     |          1     |          24     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 25. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   496236 | 1995 |   F |     1976 |  19 |     1995 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    73227.36     |          1     |          25     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 26. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |    81673 | 1995 |   M |     1941 |  54 |     1995 |      5 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    91566.36     |          1     |          26     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 27. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   355691 | 1995 |   M |     1969 |  26 |     1995 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    254177.3     |          1     |          27     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 28. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   186524 | 1995 |   M |     1944 |  51 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |     23995.2     |          1     |          28     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 29. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   115230 | 1995 |   M |     1955 |  40 |     1995 |      1 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    16546.38     |          1     |          29     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 30. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   113635 | 1995 |   F |     1961 |  34 |     1995 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    27180.96     |          1     |          30     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 31. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   346234 | 1995 |   M |     1974 |  21 |     1995 |      2 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    2798.327     |          1     |          31     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 32. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   307207 | 1995 |   F |     1958 |  37 |     1995 |      5 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    36285.27     |          1     |          32     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 33. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   185904 | 1995 |   M |     1944 |  51 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    17380.56     |          1     |          33     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 34. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   149647 | 1995 |   M |     1962 |  33 |     1995 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    43288.91     |          1     |          34     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 35. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   222986 | 1995 |   M |     1948 |  47 |     1995 |      1 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |     55273.1     |          1     |          35     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 36. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   201529 | 1995 |   M |     1968 |  27 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    30151.14     |          1     |          36     |     2861772     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 37. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |   197823 | 1995 |   M |     1948 |  47 |     1995 |      1 |       0 |

As expected, this is sensitive to the way that data is sorted! The cool thing is that whenever we use the pre-command `by` the scalars `_n` and `_N` record the observation number and total number of observations for *every group* separately.

In [14]:
cap drop obs_number 
bysort workerid: gen obs_number = _n 

cap drop tot_obs
bysort workerid: gen tot_obs = _N

In [15]:
%browse

     +----------------------------------------------------------------------+
  1. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        1 | 1999 |   M |     1944 |  55 |     1997 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    39975.01     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  2. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        1 | 2001 |   M |     1944 |  57 |     1997 |      1 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    278378.1     |          1     |           2     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  3. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2002 |   M |     1947 |  55 |     2001 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    293336.4     |          1     |           1     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  4. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2001 |   M |     1947 |  54 |     2001 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |     18682.6     |          1     |           2     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  5. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2003 |   M |     1947 |  56 |     2001 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    111797.3     |          1     |           3     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  6. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        3 | 2010 |   M |     1951 |  59 |     2005 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    46229.57     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  7. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        3 | 2005 |   M |     1951 |  54 |     2005 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    88351.67     |          1     |           2     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  8. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        4 | 1997 |   M |     1952 |  45 |     1997 |      5 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    24911.03     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  9. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        4 | 2001 |   M |     1952 |  49 |     1997 |      5 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    9908.362     |          1     |           2     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 10. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        5 | 2009 |   M |     1954 |  55 |     1998 |      2 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    137207.3     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 11. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        5 | 2011 |   M |     1954 |  57 |     1998 |      2 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |     5227.69     |          1     |           2     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 12. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 1999 |   M |     1954 |  45 |     1995 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    28902.34     |          1     |           1     |           4     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 13. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 1995 |   M |     1954 |  41 |     1995 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    53620.36     |          1     |           2     |           4     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 14. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 2000 |   M |     1954 |  46 |     1995 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    58023.73     |          1     |           3     |           4     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 15. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 2003 |   M |     1954 |  49 |     1995 |      5 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    132451.8     |          1     |           4     |           4     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 16. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        7 | 2009 |   M |     1958 |  51 |     2006 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    330875.2     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 17. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        7 | 2007 |   M |     1958 |  49 |     2006 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    208644.8     |          1     |           2     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 18. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        8 | 2010 |   M |     1959 |  51 |     1999 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    29126.71     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 19. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        8 | 2007 |   M |     1959 |  48 |     1999 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    83872.56     |          1     |           2     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 20. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 1997 |   M |     1962 |  35 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |      296822     |          1     |           1     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 21. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 2008 |   M |     1962 |  46 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    399610.9     |          1     |           2     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 22. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 2006 |   M |     1962 |  44 |     1995 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    165501.4     |          1     |           3     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 23. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 2001 |   M |     1965 |  36 |     1995 |      3 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    28081.39     |          1     |           1     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 24. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 1999 |   M |     1965 |  34 |     1995 |      3 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |     23455.5     |          1     |           2     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 25. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 2002 |   M |     1965 |  37 |     1995 |      3 |       1 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |     16827.1     |          1     |           3     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 26. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       11 | 1996 |   M |     1941 |  55 |     1995 |      3 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    20401.53     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 27. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       11 | 1997 |   M |     1941 |  56 |     1995 |      3 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    38037.63     |          1     |           2     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 28. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2001 |   M |     1942 |  59 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    13154.44     |          1     |           1     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 29. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2000 |   M |     1942 |  58 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    25679.33     |          1     |           2     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 30. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2002 |   M |     1942 |  60 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    24012.12     |          1     |           3     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 31. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       13 | 1997 |   M |     1946 |  51 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    37268.06     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 32. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       13 | 1996 |   M |     1946 |  50 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    58104.31     |          1     |           2     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 33. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 2002 |   M |     1951 |  51 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    41008.89     |          1     |           1     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 34. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 2003 |   M |     1951 |  52 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    29224.72     |          1     |           2     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 35. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 1995 |   M |     1951 |  44 |     1995 |      4 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    63075.74     |          1     |           3     |           3     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 36. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       15 | 2011 |   M |     1952 |  59 |     2005 |      2 |       0 |
     |-----------------+----------------+-----------------------------------|
     |    earnings     |    var_one     |    obs_nu~r     |     tot_obs     |
     |    66684.59     |          1     |           1     |           2     |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 37. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       15 | 2006 |   M |     1952 |  54 |     2005 |      2 |       0 |

As we can see, some workers are observed only 2 times in the data; whereas other workers are observed 8 times. By knowing (and recoding in a variable) the times a worker has been observed, we can do some different analysis based on this information. For example, in some cases you might be interested in keeping only workers who are observed across all time periods.

## 7.2 Generating Variables using Extended Generate (egen)

The command `egenerate` is used whenever we want to create variables that require some functions (e.g. mean, standard deviation, min).  The basic syntax works as follows: 

```
 bysort groupvar: egen new_var = function() , options
```

Let's see an example where we create a new variable called `avg_earnings` which is the `mean` of earnings for every worker.

In [16]:
cap drop avg_earnings
bysort workerid: egen avg_earnings = mean(earnings)

In [17]:
cap drop total_earnings
bysort workerid: egen total_earnings = total(earnings)

By definition, these commands will create variables that use information across different observations. You can check the list of available functions by writing `help egen`.

In this documentation, you will notice that there are some functions that do not allow for `by`. For example, suppose we want to create the total sum across different variables in the same row. We'll sum some arbitrary variables (i.e. there is no meaning in the variable we are creating) for the sake of explanation.

In [19]:
cap drop sum_of_vars
egen sum_of_vars = rowtotal(start_year region treated)

How is this different than creating `gen sum_of_vars = start_year +  region + treated`. The answer lies in the missing observations. If you sum any number with a missing (`.`), then the sum will be also missing. The function `rowtotal()` only sums non-missing values in our variables. In most situations, this is what we're looking for.

Notice that we can use `by` with a list of variables, not necessarily a unique variable.

In [20]:
cap drop regionyear_earnings
bysort year region : egen regionyear_earnings = total(earnings)

## 7.3 Collapsing the Data

We can aso compute statistics at some group level with the `collapse` command. However, these changes are irreversible. For example, suppose we want to create a dataset at the region-year level using information in the current dataset.

First, we decide which statistics we want to keep from the original dataset. For the sake of explanation, let's suppose we want to keep average earnings, the variance of earnings, and the total employment. 

The syntax is 

```
 collapse (statistic1) new_name = existing_variable (statistic2) new_name2 = existing_variable2 ... , by(group) 
```


We write

In [21]:
collapse (mean) avg_earnings = earnings (sd) sd_earnings = earnings (count) tot_emp = earnings , by(region year)

In [22]:
%browse

     +-----------------------------------------------+
     | year   region   avg_ea~s   sd_ear~s   tot_emp |
     |-----------------------------------------------|
  1. | 1995        1    67284.3   144739.1     28143 |
  2. | 1996        1   65632.83   139990.2     31078 |
  3. | 1997        1    67655.4   144867.9     33583 |
  4. | 1998        1   67836.61   113053.4     35696 |
  5. | 1999        1   69703.96   130300.2     37443 |
     |-----------------------------------------------|
  6. | 2000        1   70636.84   153549.7     39559 |
  7. | 2001        1   75025.45   212302.6     40722 |
  8. | 2002        1   72514.41   148687.6     41353 |
  9. | 2003        1   75885.88   134078.5     41242 |
 10. | 2004        1      73384   145342.2     41339 |
     |-----------------------------------------------|
 11. | 2005        1   72555.81   135471.6     41927 |
 12. | 2006        1   72048.02     152768     42859 |
 13. | 2007        1   73201.65   139596.8     42168 |
 14. | 2008        1   74975.35   244015.6     42420 |
 15. | 2009        1   77620.29   356074.8     41508 |
     |-----------------------------------------------|
 16. | 2010        1    75462.8   164038.6     40511 |
 17. | 2011        1   75207.74   129948.6     38502 |
 18. | 1995        2    66190.1   117372.4     26581 |
 19. | 1996        2   68069.03   149648.5     28682 |
 20. | 1997        2   68224.64   128714.4     30307 |
     |-----------------------------------------------|
 21. | 1998        2   68943.63   133498.9     31964 |
 22. | 1999        2   69618.63   168674.8     33583 |
 23. | 2000        2    71425.4   134765.7     34429 |
 24. | 2001        2    72271.2   132342.7     35286 |
 25. | 2002        2   72097.36   146888.4     35851 |
     |-----------------------------------------------|
 26. | 2003        2   77591.75   162594.3     34546 |
 27. | 2004        2   73530.06   153642.2     35105 |
 28. | 2005        2    71321.6   162014.8     35708 |
 29. | 2006        2   71002.66   139390.7     36606 |
 30. | 2007        2   72971.89   164133.1     36569 |
     |-----------------------------------------------|
 31. | 2008        2   72449.97   136443.5     36546 |
 32. | 2009        2   74370.66   135029.1     35794 |
 33. | 2010        2   74886.38   153100.7     35161 |
 34. | 2011        2   74763.57   145359.3     33276 |
 35. | 1995        3   64923.38   130556.7     21516 |
     |-----------------------------------------------|
 36. | 1996        3   64691.85   208054.4     23484 |
 37. | 1997        3   65300.58   112418.2     25032 |
 38. | 1998        3   67277.41   122532.4     26979 |
 39. | 1999        3   68236.85   127385.4     28403 |
 40. | 2000        3   67877.86   121106.9     30644 |
     |-----------------------------------------------|
 41. | 2001        3   70567.73   117235.7     31277 |
 42. | 2002        3   70245.67   129402.6     31924 |
 43. | 2003        3   74984.59   136067.5     31416 |
 44. | 2004        3   72173.13   135296.1     32299 |
 45. | 2005        3   70294.16   150864.2     33617 |
     |-----------------------------------------------|
 46. | 2006        3   69992.58   138194.8     34191 |
 47. | 2007        3   71961.21   129862.2     34061 |
 48. | 2008        3   71941.55   156814.4     33868 |
 49. | 2009        3   73070.45   131299.6     33236 |
 50. | 2010        3   74557.63   170217.2     33197 |
     |-----------------------------------------------|
 51. | 2011        3   75450.45   142370.8     30902 |
 52. | 1995        4   63071.85   109039.2     27271 |
 53. | 1996        4   62737.48   111585.4     29598 |
 54. | 1997        4   64112.85     110085     31630 |
 55. | 1998        4   65824.41   114692.6     32649 |
     |-----------------------------------------------|
 56. | 1999        4   66779.38   174003.1     34665 |
 57. | 2000        4   66504.84   113566.6     35389 |
 58. | 2001        4   70406.24   140761.9     37174 |
 59. | 2002        4   69810.66   156517.5     37924 |
 60. | 2003        4    73096.6   124012.1     37131 |
     |-----------------------------------------------|
 61. | 2004        4    70817.4   140540.8     37698 |
 62. | 2005        4   68821.28   124218.6     38505 |
 63. | 2006        4   67580.55   115328.1     39413 |
 64. | 2007        4   70851.72     129617     39156 |
 65. | 2008        4   70735.16   125012.5     39854 |
     |-----------------------------------------------|
 66. | 2009        4   71709.08   133171.1     38871 |
 67. | 2010        4    73278.8   148844.8     38536 |
 68. | 2011        4    73557.6   143087.3     37407 |
 69. | 1995        5   67649.22     130281     21769 |
 70. | 1996        5   67451.16   207551.5     23473 |
     |-----------------------------------------------|
 71. | 1997        5    70813.8   352413.3     24816 |
 72. | 1998        5   72157.93   167477.6     26512 |
 73. | 1999        5   71631.07   145928.6     27846 |
 74. | 2000        5   71171.02   130451.6     29535 |
 75. | 2001        5   74526.13   163653.3     30053 |
     |-----------------------------------------------|
 76. | 2002        5   77129.93     238141     30275 |
 77. | 2003        5   77722.84   142464.7     30461 |
 78. | 2004        5   78432.54   340692.5     30804 |
 79. | 2005        5   74635.09   148769.4     31398 |
 80. | 2006        5   73752.73   145977.4     32327 |
     |-----------------------------------------------|
 81. | 2007        5   77562.43   205593.7     32648 |
 82. | 2008        5   82318.05    1075188     31916 |
 83. | 2009        5   77594.48   161854.1     31731 |
 84. | 2010        5   80170.91   328381.4     31462 |
 85. | 2011        5   82794.25   509268.3     29782 |
     +-----------------------------------------------+

As you can see above, there's no way to recover the information we previously had. However, we may be interesting in analysis this type of datasets at a group level. We may s